extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Raul Aguirre

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Hello Im Raul Aguirre I'm a full stack javascript developer in the making and have some knowledge of html, css, and java.
            | I'm currently working toward my bachelors in Computer Science and a full stack javascript tech degree.
            | My goals are to become a senior program developer and help push the tech industry forward.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        
        ul
          li Express
          li javascript
          li java
          li HTML & css
          li Comunication skills 
          li jquery & The DOM
        h6 Contact Info
        //not real info
        ul
          li 123-456-7890
          li raul.aguirre@email.com
          //adds links for my github, twitter, and Linktin
        a.button.expanded(href='https://www.linkedin.com/in/raul-aguirre-7aaa3a178?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BbuIJlybMRMGO3EfqC4HpUA%3D%3D') LinkedIn
        a.button.expanded(href='https://github.com/ateBitDev') GitHub
        a.button.expanded(href='https://twitter.com/RandomRaul34') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  